.container {
    max-width: 700px;
}

label {
    display: block;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#tabelaRelatorioTransacoes {
    max-height: 500px;
    overflow-y: auto;
}

.btn-cadastrar-produto {
    background-color: #012faf;
    color: #fff;
}

.btn-cadastrar-produto:hover {
    background-color: #011b64;
    color: #fff;
}

.btn-cadastrar-categoria {
    background-color: #f50014;
    color: #fff;
}

.btn-cadastrar-categoria:hover {
    background-color: #8f0000;
    color: #fff;
}

.btn-cadastrar-fornecedor {
    background-color: #f53900;
    color: #fff;
}

.btn-cadastrar-fornecedor:hover {
    background-color: #cc3000;
    color: #fff;
}